@import url("https://fonts.googleapis.com/css?family=Alegreya:700i|Baloo+Tammudu|Cantarell:700i|Chango|Courgette|Niconne|Nova+Mono");

*
{
  margin: 0;
  padding:0;
}
body 
{
  font-family: 'Nova Mono', monospace;
  background-color: cadetblue;
  
}

.container 
{
    width: 80%;
    height: 0%;
	  margin: 0 auto;
}
header 
{
   /* background: linear-gradient(to bottom, rgba(54,247,247,0.66) 0%, rgba(44,222,186,0.3) 55%, rgba(44,222,186,0) 100%);   */
    background-color: cadetblue;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.name {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li 
{
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}
h1
{
  font-family: 'Niconne';
}

nav a
{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  
}

nav a:hover {
  color: rgb(0, 0, 0);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(54, 54, 54);

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before 
{
  width: 100%;
}
.section 
{
  background: gray;
  margin: 1%;
  padding: 5%;
}
h1
{
  color: white;
  font-size: 50px;
  font-family: 'Niconne';
}
.section h3, caption
{
  color: white;
  font-size: 50px;
  font-family: 'Nova Mono';
  background-color:indianred;
  width:50%;
  border-radius: 100px;
  text-align: center; 
  
}
.section form, table
{
  background-color: white;
  padding: 40px;
  margin: 30px;
}
ul
{
  list-style: none;
}
#welcome h1
{
  color: white;
  font-size: 150px;
  font-family: 'Nova Mono';
  background-color:indianred;
  text-align: center; 
  align-self:  center; 
}
/*#skillsTable 
{
  background-color: white;
  border-bottom-color: black;
  border-radius: 5%;

}
 #skillsTable th, td 
 { 
    padding:15px;  
 } 
 #skillsTable th 
{ 
    color: gray; 
}*/
p
{
  color: white;
  font-size: 20px;
}

/* #table-caption {
  color: white;
  font-size: 50px;
  font-family: 'Nova Mono';
  background-color:indianred;
  width:50%;
  border-radius: 100px;
  text-align: center;
} */
/* 
.table-middle {
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%,-50%);
} */